.sidebar_container{
    max-width: 55px;
    padding: 16px;
    border: 1px solid black;
    min-height: 100vh;
    justify-content: center;
    background-color: #03527E;
    
}


.sidebarIcon{
display: flex;
flex-direction: column;
}

 
 